# Format connection string PostgreSQL:
# Host=<host>;Port=<port>;Database=<nama_db>;Username=<user>;Password=<password>

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=siperu_db;Username=postgres;Password=
ASPNETCORE_ENVIRONMENT=Development